@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-100 text-zinc-900 antialiased font-sans;
  }
}

/* Custom scrollbars for dense industrial data tables */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}
