VITE_FIREBASE_API_KEY=AIzaSyBWs8H6zzvUbb0sMm71e8i8qNlfmQYBiME
VITE_FIREBASE_AUTH_DOMAIN=werehouse-wms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=werehouse-wms
VITE_FIREBASE_STORAGE_BUCKET=werehouse-wms.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=203923994893
VITE_FIREBASE_APP_ID=1:203923994893:web:34f7a840575edc4917d844
